.contact-section {
  text-align: center;
  margin-bottom: 50px;
}

.contact-container {
   /* Ajusta la posición, el tamaño y el estilo según lo necesites */
   background-image: url('../../assets/images/nube_fondo_bebe.jpg'); /* Cambia la ruta si es necesario */
   background-size: cover; /* Asegúrate de que la imagen cubra todo el contenedor */
   background-position: center; /* Centra la imagen */
   padding: 20px; /* Añade un poco de espacio alrededor */
   min-height: 100vh; /* Asegúrate de que el contenedor ocupe toda la altura de la ventana */
   position: relative; /* Permite que los elementos hijos se posicionen correctamente */
}

.contact-section h1 {
  font-size: 38px;
  color: #333;
  font-family: ConcertOne;
}

.form-section {
  margin-top: 50px;
  max-width: 600px; /* Ancho máximo del formulario */
  margin-left: auto; /* Centra horizontalmente */
  margin-right: auto; /* Centra horizontalmente */
  padding: 20px; /* Añade un poco de espacio alrededor */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  border-radius: 8px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

.form-section h2{
  text-align: center;
  font-family: ConcertOne;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-size: 24px;
  color: #333;
  font-family: Signika;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 24px;
  font-family: Signika;
}

.contact-form textarea {
  resize: vertical;
}

.submit-button {
  background-color: var(--guardian-rosa); /* Color del botón */
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  display: inline-block; /* Alinea el botón en línea */
  width: fit-content;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 27px;
  font-family: Signika;
  border: 2px solid rgb(226, 65, 108);
  text-decoration: none; /* Elimina subrayado */
}

.submit-button:hover {
  background-color: #1ec450; /* Efecto hover */
  color: white;
  border: 2px solid rgb(25, 131, 3);
}

.check-mark {
  color: green;
  font-size: 24px;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
}

.submit-button-container {
  display: flex;
  justify-content: center; /* Centra el botón horizontalmente */
  margin-top: 10px; /* Espaciado arriba */
}