.section-noticiasLegal {
  border: none;
  background-color: transparent;
  border-radius: 10px;
  max-width: 900px;
  margin: 20px;
  padding: 20px;
}

.main-legal {
  height: 100vh;
  background-image: url("../../assets/images/nube_fondo_bebe.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.main-legal li {
  font-family: Signika;
}

.datos h1 {
  font-size: 45px;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-family: ConcertOne;
}

.datos ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Signika;
}

.datos ul li {
  margin-bottom: 10px;
  font-size: 23px;
}

.datos ul li a {
  color: #007bff;
  text-decoration: none;
}

.datos ul li a:hover {
  text-decoration: underline;
}

.legal {
  margin-top: 30px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #ddd;
  border: none;
}

.legal p {
  font-size: 20px;
  line-height: 1.6;
  color: #555;
  text-align: justify;
  font-family: Signika;
}

.legal h3 {
  font-size: 30px;
  color: #444;
  margin-bottom: 10px;
  font-family: ConcertOne;
  text-align: center;
}

.button-legal {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 40px auto 0;
  background-color: var(--guardian-rosa);
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(226, 65, 108);
  font-size: 25px;
  font-family: Signika;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.button-legal:hover {
  background-color: #1ec450;
  color: white;
  border: 2px solid rgb(25, 131, 3);
}
