.not-found-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 220, 220);
}

.full-image {
  width: 80%;
  max-width: 1500px;
  height: auto;
  object-fit: cover;
  z-index: 0;
  border-radius: 500px;
}

.not-found-container h1,
.not-found-container h2,
.not-found-container p {
  margin: 10px 0;
}

.not-found-div {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 1.2);
}

.not-found-div h1 {
  margin-bottom: 20px;
  font-family: ConcertOne;
}

.not-found-div a {
  text-decoration: none;
}

.not-found-div p {
  background-color: var(--guardian-rosa);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
  display: block;
  width: fit-content;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 27px;
  font-family: Signika;
  border: 2px solid rgb(226, 65, 108);
}

.not-found-div p:hover {
  background-color: #1ec450;
  color: white;
  border: 2px solid rgb(25, 131, 3);
}
